[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
pytest = "*"
stringify = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
pytest-regressions = "*"
flask-script = "*"
flask-migrate = "*"
pillow = "*"

[requires]
python_version = "3.8"
